*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251127_212217.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251127_213235.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251127_222735.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251127_233844.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251127_235930.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_000935.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_001933.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_003957.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_013056.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_014108.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_025233.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_032309.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_034348.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_035345.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_050509.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_055609.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_062645.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_065721.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_075833.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_081857.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_085945.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_090957.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_094033.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_095045.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_100057.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_101109.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_102121.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_113245.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_122345.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_125422.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_131447.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_134521.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_144634.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_163850.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_175039.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_191146.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_201258.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_210358.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_211410.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_221523.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_222546.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251128_232647.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_002759.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_005835.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_013923.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_015947.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_021000.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_032123.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_033135.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_041223.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_210214.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_214302.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_043247.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_050324.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_053411.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_055424.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_064524.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_073624.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_074636.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_075648.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_091824.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_092836.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_093848.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_101941.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_123212.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_132312.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_142425.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_175837.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_181918.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_194104.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_221338.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_230438.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_232756.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_234527.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251129_235615.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_000555.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_011715.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_012731.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_022838.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_031938.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_032950.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_034002.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_041038.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_042050.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_043102.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_050138.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_052202.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_055238.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_064338.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_072426.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_073438.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_074450.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_075502.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_080515.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_081527.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_111903.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_130103.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_132127.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_142239.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_152351.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_165540.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_170551.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_171604.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_172616.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251130_182728.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos/data_20251202_201921.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/1.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/10.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/100.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/101.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/102.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/103.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/104.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/105.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/11.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/12.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/13.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/14.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/15.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/16.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/17.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/18.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/19.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/2.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/20.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/21.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/22.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/23.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/24.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/25.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/26.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/27.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/28.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/29.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/3.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/30.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/31.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/32.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/33.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/34.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/35.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/36.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/37.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/38.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/39.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/4.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/40.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/41.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/42.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/43.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/44.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/45.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/46.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/47.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/48.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/49.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/5.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/50.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/51.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/52.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/53.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/54.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/55.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/56.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/57.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/58.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/59.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/6.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/60.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/61.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/62.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/63.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/64.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/65.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/66.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/67.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/68.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/69.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/7.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/70.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/71.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/72.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/73.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/74.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/75.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/76.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/77.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/78.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/79.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/8.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/80.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/81.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/82.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/83.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/84.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/85.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/86.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/87.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/88.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/89.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/9.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/90.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/91.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/92.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/93.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/94.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/95.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/96.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/97.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/98.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/99.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/106.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/107.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/108.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/109.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/110.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/111.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/112.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/113.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/114.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/115.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/116.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/117.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/118.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/120.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/121.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/122.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/123.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/124.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/125.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/126.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/127.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/128.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/129.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/130.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/131.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/132.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/133.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/134.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/135.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/136.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/137.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/138.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/139.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/140.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/141.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/142.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/143.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/144.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/145.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/146.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/147.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/148.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/149.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/150.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/151.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/152.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/153.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/154.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/155.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/156.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/157.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/158.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/159.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/160.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/161.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/162.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/163.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/164.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/165.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/166.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/167.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/168.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/169.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/170.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/171.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/172.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/173.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/174.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/175.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/176.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/177.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/178.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/179.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/180.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/181.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/182.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/183.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/184.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/185.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/186.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/187.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/188.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/189.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/190.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/191.hdf5 filter=lfs diff=lfs merge=lfs -text
gearbox_assembly_demos_updated/192.hdf5 filter=lfs diff=lfs merge=lfs -text
